<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.taeil.mantomen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.project.taeil.mantomen.MainActivity"
            android:label="@string/title_activity_ManToMen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.taeil.mantomen.LoginActivity"
            android:noHistory="true" />

        <activity android:name="com.project.taeil.mantomen.RegisterActivity" />
        <activity android:name="com.project.taeil.mantomen.LoadingActivity" />
        <activity android:name="com.project.taeil.mantomen.Main2Activity" />
        <activity android:name="com.project.taeil.mantomen.MemberModifyActivity" />
        <activity android:name="com.project.taeil.mantomen.ClassDetail" />
        <activity android:name="com.project.taeil.mantomen.OperateClassActivity" />
        <activity android:name="com.project.taeil.mantomen.TutorRegisterActivity" />
        <activity android:name="com.project.taeil.mantomen.ReviewWriteActivity" />
        <activity android:name="com.project.taeil.mantomen.ChattingRoomActivity" />

    </application>

</manifest>